<ion-slides  *ngIf="elements.length>2" class="animateIn" [options]="opts" style="height: 200px !important;">
    
  <ion-slide  *ngFor="let book of elements | slice:start:end"> 
    <ion-card mode="ios" (click)="watch(book)">

      <ion-img [src]="book.book_image"></ion-img>
      </ion-card>
  </ion-slide>
 
</ion-slides>


<ion-slides *ngIf="elements.length<2" class="animateIn" [options]="opts" style="height: 200px !important;">
    
  <ion-slide *ngFor="let book of [1,1,1]"> 
    <ion-card mode="ios">
      <ion-spinner style="margin-top: 60%" color="primary"></ion-spinner>
    </ion-card>
  </ion-slide>
 
</ion-slides>

