<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="tertiary">
    <ion-title>Books</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

 

  <section class="titleCategories">
    <h4>Fiction</h4>
  </section>
  <app-book start="0" end="8" [elements]="books"></app-book>
  <br>
  <app-book start="8" end="16" [elements]="books"></app-book>

  <section class="titleCategories">
    <h4>No fiction</h4>
  </section>
  <app-book start="0" end="8" [elements]="noFictionBooks"></app-book>
  <br>
  <app-book start="8" end="16" [elements]="noFictionBooks"></app-book>
 

  <ion-button routerLink="/home/explore" mode="ios" color="light" expand="block">Explore
    <ion-icon name="arrow-forward-outline"></ion-icon>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
</ion-content>
