

.titleCategories{
    text-align: start;
    margin-left: 15px;
    
}
.titleCategories h4{
    color: rgb(15, 15, 170);
    font-size: 15px;
}
ion-toolbar{
    border-bottom-left-radius:3px !important;
    border-bottom-right-radius:3px !important; 
}