<section class="responsiveCenter animateIn container__banner">

  <article class="container__title__banner">
    <h1>Welcome back!</h1>
    <p>Read From wide range of E-Books</p>
  </article>

  <article class="container__banner__image">
    <ion-img src="../../../assets/images/app-read.svg"></ion-img>
 
  </article>

  <article class="container__buttons">
    <ion-button mode="ios" (click)="explore()" routerLink="/home/explore"><ion-ripple-effect>  </ion-ripple-effect>Saved</ion-button> 
    <ion-button mode="ios" (click)="explore()" routerLink="/home/explore"><ion-ripple-effect>  </ion-ripple-effect>Explore</ion-button> 
  </article>

</section>